body {
  margin: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  font-size: 1.5rem;
}

.container {
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
  /* border: 1px solid magenta; */
}

img {
  width: 100%;
}
header {
  background-color: rgb(35, 44, 44);
  padding: 45px 0;
  color: aliceblue;
}
h2 {
  font: bold;
  font-size: 1.8rem;
  color: chocolate;
}
section {
  padding: 45px 0;
}
.section-one {
  /* border: 1px solid magenta; */
}
.section-two {
  /* border: 1px solid magenta; */
  background-color: rgb(35, 44, 44);
  color: aliceblue;
}

.button {
  display: inline-block;
  background: #ffe600;
  color: black;
  padding: 0.5rem 1.25rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 50px;
}
.btn-big {
  font-size: 1.5rem;
}
.btn-small {
  font-size: 0.75rem;
}
.button:hover {
  background: orange;
}
